/* De lo general a lo especifico */

:root {
  /* Paleta de colores para la pagina en general */
  /* 1 Background, 
      1 para la card
      2 para elementos que resalten 
      3 para el output
      4 para los bordes o detalles
      5 para el texto */
  --color-1: #000000;
  --color-2: #151e39;
  --color-3: #8789c0;
  --color-4: #45f0df;
  --color-5: #ffffff;
  --color-6: #ff00c1;
  /* ENDS */
  /* Paleta de colores para la animacion del hero */
  --animColor-1: #ff00c1;
  --animColor-2: #9600ff;
  --animColor-3: #4900ff;
  --animColor-4: #00b8ff;
  --animColor-5: #00fff9;
  /* ENDS */
}

/* ======================================> GENERAL STYLES <========================================= */

* {
  font-family: "Kode Mono", Arial, Helvetica, sans-serif;
  scrollbar-color: var(--color-6) var(--color-2);
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  timeline-scope: --section, --main, --site-header;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
  color: var(--color-5);
}

a {
  color: var(--color-6);
}

/* ======================================> GENERAL STYLES ENDS <========================================= */

/* ===================================> HERO STYLES <=========================== */

.hero {
  z-index: 1000;
  align-content: center;
  text-align: center;
  height: 100dvh;
  user-select: none;
  background-color: var(--color-1);
}

.hero h1 {
  font-size: 5rem;
}

.hero h2 {
  color: var(--color-2);
}

.codeHero {
  color: var(--color-6);
  font-family: "Space mono";
  font-style: italic;
  animation: heroAnimation 6s infinite;
}

.codeHeroII {
  color: var(--color-4);
  font-style: bold;
}

.moreHero {
  color: var(--color-2);
  position: absolute;
  left: 47dvw;
  bottom: 20dvh;
  cursor: pointer;
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
  animation: blurTouchMe 4s infinite;
}

.moreHero:hover {
  color: var(--color-5);
  transform: scale(1.1);
}

@keyframes blurTouchMe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroAnimation {
  0% {
    color: var(--animColor-1);
  }
  25% {
    color: var(--animColor-3);
  }
  50% {
    color: var(--animColor-4);
  }
  75% {
    color: var(--animColor-3);
  }
  100% {
    color: var(--animColor-1);
  }
}

/* ===================================> HERO STYLES ENDS <=========================== */

/* =====================================> NavBar STARTS <==================================== */
.navBar {
  z-index: 900;
  position: sticky;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
}
/* =====================================> NavBar ENDS <==================================== */
/* =======================================> Sections & contents STARTS <================================== */

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

.content {
  /* Fix the content, so it doesn't scroll with the section */
  overflow: hidden;
  position: fixed;
  inset: 0;
  padding: 5rem 3rem;

  /* Animate the content based on the section scrolling */
  --contrast: 4;
  --blur: 1rem;

  animation: blink ease-in-out both;
  animation-timeline: --section;
}

@keyframes blink {
  0%,
  100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}
/* =======================================> Sections & contents ENDS <================================== */

/* ===================================> FOOTER STYLES <============================== */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-6);
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer h3 {
  margin: 0;
}

footer p {
  margin: 0;
  color: var(--color-1);
}

.navFooter a {
  background-color: var(--color-2);
  color: var(--color-5);
  padding: 0.3rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.7rem;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
}

.navFooter a:hover {
  transform: scale(1.1);
}

.navFooter a:active {
  transform: scale(1);
}

/* ===================================> FOOTER STYLES ENDS <============================== */
