/* De lo general a lo especifico */

:root {
  /* Paleta de colores para la pagina en general */
  /* 1 Background, 
      1 para la card
      2 para elementos que resalten 
      3 para el output
      4 para los bordes o detalles
      5 para el texto */
  --color-1: #000000;
  --color-2: #151e39;
  --color-3: #8789c0;
  --color-4: #45f0df;
  --color-5: #ffffff;
  --color-6: #ff00c1;
  /* ENDS */
  /* Paleta de colores para la animacion del hero */
  --animColor-1: #ff00c1;
  --animColor-2: #9600ff;
  --animColor-3: #4900ff;
  --animColor-4: #00b8ff;
  --animColor-5: #00fff9;
  /* ENDS */
}

/* ======================================> GENERAL STYLES <========================================= */

* {
  font-family: "Kode Mono", Arial, Helvetica, sans-serif;
  scrollbar-color: var(--color-6) var(--color-2);
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  timeline-scope: --section, --main, --site-header;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-1);
  color: var(--color-5);
  margin: 0;
}

a {
  color: var(--color-6);
}

/* ======================================> GENERAL STYLES ENDS <========================================= */

/* ===================================> HERO STYLES <=========================== */

.hero {
  z-index: 1000;
  align-content: center;
  text-align: center;
  height: 100dvh;
  user-select: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.704), rgb(0, 0, 0)),
    url(./resources/IMG/hero.png);
  background-color: var(--color-1);
}

.hero h1 {
  font-size: 5rem;
}

.navBar h1 {
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

.hero h4 {
  color: var(--color-6);
}

.codeHero {
  color: var(--color-6);
  font-family: "Space mono";
  font-style: italic;
  animation: heroAnimation 6s infinite;
}

.codeHeroII {
  color: var(--color-4);
  font-style: bold;
}

.moreHero {
  color: var(--color-2);
  padding: 1rem;
  /* position: absolute;
  left: 50dvw;
  bottom: 20dvh;
  transform: translate(-50%, -50%); */
  cursor: pointer;
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
  animation: blurTouchMe 4s infinite;
}

.moreHero:hover {
  color: var(--color-5);
}

@keyframes blurTouchMe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroAnimation {
  0% {
    color: var(--animColor-1);
  }
  25% {
    color: var(--animColor-3);
  }
  50% {
    color: var(--animColor-4);
  }
  75% {
    color: var(--animColor-3);
  }
  100% {
    color: var(--animColor-1);
  }
}

/* ===================================> HERO STYLES ENDS <=========================== */

/* =====================================> NavBar STARTS <==================================== */
.navBar {
  z-index: 900;
  position: sticky;
  inset: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
}
/* =====================================> NavBar ENDS <==================================== */
/* =======================================> Sections & contents STARTS <================================== */

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.projectTitle {
  background-color: var(--color-4);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
  color: var(--color-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectTitleR {
  display: flex;
}

.reaction {
  margin-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.love {
  transition: all 0.2s;
  &.love:hover {
    color: var(--color-6);
  }
}

.dislike {
  transition: all 0.2s;
  &.dislike:hover {
    color: var(--animColor-3);
  }
}

.contentContainer {
  display: flex;
  background: linear-gradient(150deg, rgb(0, 0, 14), rgb(0, 23, 23));
  background-size: 200% 200%;
  animation: containerGradientAnimation 15s infinite;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  height: 100%;
  overflow: hidden;
}

.projectMain {
  flex: 2;
  padding: 1rem;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--color-4) transparent;
}

.projectComments {
  flex: 1;
  background-color: var(--color-2);
  height: 50dvh;
  background: rgba(9, 120, 132, 0.2); /* Fondo semitransparente */
  box-shadow: 0 4px 30px rgba(41, 83, 95, 0.227); /* Sombra suave */
  backdrop-filter: blur(5rem); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(5rem); /* Compatibilidad con Safari */
  border-bottom-right-radius: 1rem;
  height: 100%;
  padding: 1rem;
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  view-timeline: --section;
  height: 100dvh;
}

.content {
  /* Fix the content, so it doesn't scroll with the section */
  overflow: hidden;
  position: fixed;
  inset: 0;
  padding: 7rem 4rem 4rem 5rem;

  /* Animate the content based on the section scrolling */
  --contrast: 4;
  --blur: 1rem;

  animation: blink ease-in-out both;
  animation-timeline: --section;
}

@keyframes containerGradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blink {
  0%,
  100% {
    filter: blur(var(--blur)) contrast(var(--contrast));
    opacity: 0;
    visibility: hidden;
  }

  50% {
    filter: blur(0) contrast(1);
    opacity: 1;
    visibility: visible;
  }
}
/* =======================================> Sections & contents ENDS <================================== */

/* ==============================> COMMENTS STARTS <========================================== */
.comentariosTitle {
  position: absolute;
  background-color: rgba(144, 10, 81, 0.8);
  backdrop-filter: blur(0.1rem);
  border-radius: 1rem;
  padding: 1rem;
}

.cajaComentarios {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
}

.cajaComentarios form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1rem;
}
.cajaComentarios input {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.commentButton {
  background-color: var(--color-6);
  color: var(--color-5);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin-left: 1rem;
  transition: all 0.2s ease-in-out;
}

.commentButton:hover {
  transform: scale(1.1);
}

.commentButton:active {
  transform: scale(1);
}

#listaComentarios {
  overflow-y: scroll;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.comentario{
  background-color: var(--color-6);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}

.borrar{
  cursor: pointer;
  user-select: none;
}

/* ==============================> COMMENTS ENDS <========================================== */

/* ===================================> FOOTER STYLES <============================== */

.coolFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-6);
  padding: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.coolFooter h2 {
  margin: 0;
  animation: heroAnimation 0.3s infinite;
}

.coolFooter p {
  margin: 0;
  color: var(--color-5);
  border-radius: 1rem;
  background-color: var(--color-1);
  padding: 1rem;
  font-weight: bolder;
}

.navFooter a {
  background-color: var(--color-1);
  color: var(--color-5);
  font-weight: bolder;
  padding: 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.7rem;
  text-decoration: none;
  transition: transform 0.1s ease-in-out;
}

.navFooter a:hover {
  transform: scale(1.1);
}

.navFooter a:active {
  transform: scale(1);
}

/* ===================================> FOOTER STYLES ENDS <============================== */
